<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/ngx-bootstrap.svg" class="logo">
      </a>
      <span class="navbar-brand">Post Master</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">
        Posts <span class="sr-only">(current)</span>
      </a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <app-posts></app-posts>
  </div>
</div>
